{{ define "content" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "_hero.html" . }}
{{ partial "breadcrumbs.html" . }}

<div class="inner outer">
  <div class="pt-50 mxp-1">
    {{ partial "_search.html" . }}
  </div>
  <div class="post-feed my-30">

    {{ $display_posts := ((.Site.GetPage "section" "/game").Pages).ByDate.Reverse }}
    {{ $paginator := .Paginate $display_posts }}

    {{ $size := 23 }}
    {{ $gap := 1 }}

    {{ range $post := $paginator.Pages }}
    {{ partial "_game-card-main.html" (dict "context" . "post" $post "size" $size "gap" $gap ) }}
    {{ end }}

  </div>

  <div class="mb-50 mt-30">
    {{ partial "pagination.html" . }}
  </div>

</div>

{{ end }}