<!-- BEGIN casino card -->
{{ $post := .post }}
{{ $size := .size }}
{{ $gap := .gap }}
{{ $gap_mod := .gap_mod }}
<div class="post post-card as-str {{ if $size }} w-{{ $size }} {{ end }} {{ if $gap }} mp-{{ $gap }} {{ else }} {{ if $gap_mod }} mp-1-{{ $gap_mod }}  {{ end }} {{ end }}">

  <a class="post-inner mih-100" href="{{ $post.RelPermalink }}">
    <header class="post-header">
     
      <div class="post-meta">
        {{ if $post.Params.soft }} 
         <small> {{ $post.Params.soft | truncate 50 }} </small>
        {{ end }}
        {{ if $post.Date }}
        <small>
          <time class="published" datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">
            {{ $post.Date | dateFormat "Jan 02 / 2006 / 15:04" }}
          </time>
        </small>
        {{ end }}
      </div>
     
      <h4 class="post-title"> {{ $post.Params.title | truncate 38 }} </h4>
    </header>

  </a>
  <footer class="post-footer">
    {{ if $post.Params.site }}
    <a class="btn-gray-bd" href="{{ $post.Params.site}}"> Visit </a>
    {{ end }}
    <a class="btn-gray" href="{{ $post.RelPermalink }}"> Review </a>
  </footer>


</div>
<!-- END casino card -->