<!-- BEGIN Next/previous post navigation TBD -->

{{ if (.PrevInSection | or .NextInSection) }}


<nav class="read-next">
  <div class="read-next-links">
    {{ if .PrevInSection }}
    <a class="read-next-col" href="{{.PrevInSection.Permalink}}" rel="prev">
      <i class="ti-angle-left mr-15"></i>
      <div class="text-right">
        <b> PREV </b>
      </div>
    </a>
    {{ end }}
    &nbsp;&nbsp;&nbsp;
    {{ if .NextInSection }}
    <a class="read-next-col" href="{{.NextInSection.Permalink}}" rel="next">
      <div class="text-left">
        <b> NEXT </b>
      </div>
      <i class="ti-angle-right ml-15"></i>
    </a>
    {{ end }}
  </div>

  <div class="read-next-links">
    <a class="read-next-col" href="../" rel="prev">
      <i class="ti-angle-left mr-15"></i>
      <span class="text-right">
        <b> Back </b>
      </span>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a class="read-next-col" href="{{ $.Site.BaseURL }}" rel="next">
      <span class="text-left">
        <b> Home </b>
      </span>
      <i class="ti-angle-right ml-15"></i>
    </a>
  </div>

</nav>
{{ end }}
<!-- END Next/previous post navigation TBD -->