<footer id="colophon" class="site-footer">
  <div class="site-footer-top">
    <div class="inner">
      <div class="site-footer-inside">

        {{ if .Site.Params.header.logo_img }}
        <p class="site-logo"><a href="{{ .Site.Params.header.url | default "/" | relURL }}"><img src="{{ .Site.Params.header.logo_img | relURL }}" alt="{{ .Site.Params.header.title }}" /></a></p>
        {{ end}}

        {{ .Scratch.Set "mode" "black" }}
        {{ partial "_soc.html" . }}



        {{ if .Site.Params.footer.has_nav }}
        <nav class="menu-item">
          {{ range $action := $.Site.Params.footer.footer_nav }}
            {{ $include_dict := dict "action" $action }}
            {{ partial "action_link.html" $include_dict }}
          {{ end }}
        </nav>
        {{ end }}


      </div>
    </div>
  </div>
  <div class="site-footer-btm">
    <div class="inner">
      <div class="site-footer-inside">
        <p class="site-info">
          {{ if .Site.Params.footer.copyright }}
          <span class="copyright">{{ $.Site.Params.footer.copyright | safeHTML }}</span>
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</footer>

<button id="btn-top" class="btn-top" onclick="topFunction()"><i class="ti-angle-up"></i></button>

