{{ $section := .section }}
<section id="{{ $section.section_id }}"
  class="block block-grid outer  {{ if (eq $section.mode "light") }} bg-light {{ end }}  {{ if or $section.title $section.subtitle }} has-header {{ end }}">
  <div class="inner">
    {{ if or $section.title $section.subtitle }}
    
    <div class="heading-group">
      <div class="heading-main">
        <div class="flex ai-c">
          <i class="ti-star"></i>
          <h2 class="block-title d-inline-block">{{ $section.title }}</h2>
        </div> 
      </div>
      <a class="read-more-link" href="{{ `/game` | relURL }}"> All </a>
    </div>

    {{ end }}
    <div class="block-content">
      <div class="grid jc-spb">
        {{ $display_posts := ((.Site.GetPage "section" "/game").Pages).ByDate.Reverse }}
        {{ range $index, $post := $display_posts }}
        {{if le $index 11 }}
        {{ partial "_game-card-main.html" (dict "context" . "post" $post ) }}
        {{ end }}
        {{ end }}

      </div>
    </div>
    </div>
</section>